absl-py==0.12.0
astor==0.8.1
cached-property==1.5.2
chrisapp==2.5.3
dataclasses==0.8
gast==0.4.0
grpcio==1.38.0
h5py==3.1.0
importlib-metadata==4.5.0
jedi==0.18.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
mock==4.0.3
numpy==1.18.4
opencv-python==4.2.0.32
parso==0.8.2
Pillow==8.2.0
protobuf==3.17.3
pudb==2021.1
Pygments==2.9.0
PyYAML==5.4.1
scipy==1.5.4
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
tk==0.1.0
typing-extensions==3.10.0.0
urwid==2.1.2
Werkzeug==2.0.1
zipp==3.4.1
